@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AllListingsQueryModel




  @* @await Component.InvokeAsync("SearchForm",Model)*@

@{
    var matches = Model.Listings.Count;

  }

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Catalog</h1>
              <span class="color-text-a">Take a look!</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Properties Grid
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
           
          </div>
          @foreach(var listing in Model.Listings){
                 <div class="col-md-4">
            <div class="card-box-a img-a card-shadow">
              <div class="img-box-a">
                  
                <img src="@listing.Images.FirstOrDefault().Url" alt="" class="img-a img-fluid">
                
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a asp-controller="Listings" asp-action="Details" asp-route-id="@listing.Id">@listing.ListingAddress.Neighborhood
                        <br /> @listing.ListingAddress.Street</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">@listing.PropertyType.Name | $ @listing.Price</span>
                    </div>
                    <a asp-controller="Listings" asp-action="Details" asp-route-id="@listing.Id" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>

                 
                    @if(ViewBag.Id != null && ViewBag.Id == listing.OwnerId){
                        <br>
                     <a asp-controller="Listings" asp-action="Edit" asp-route-id="@listing.Id" class="link-a">Edit this listing
                      <span class="bi bi-chevron-right"></span>
                    </a>
                     <br>
                     <a asp-controller="Listings" asp-action="Delete" asp-route-id="@listing.Id" class="link-a">Delete this listing
                      <span class="bi bi-chevron-right"></span>
                    </a>
                    }
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Area</h4>
                        <span>@listing.LandSize m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Beds</h4>
                        <span>@listing.Bedrooms</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Baths</h4>
                        <span>@listing.Bathrooms</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Garages</h4>
                        <span>@listing.CarSpaces</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>



          }
       

            @{
                var nextPage = Model.currentPage + 1;
                var prevPage = Model.currentPage - 1;
                var shouldPrevButtonBeDisabled = Model.currentPage == 1;
                var shouldNextButtonBeDisabled = Model.currentPage == Model.totalPages;
                

          }

         
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              <ul class="pagination justify-content-end">
                <li class="page-item @(shouldPrevButtonBeDisabled ? "disabled" : String.Empty)">  
                  <a class="page-link"  tabindex="-1"  
                  asp-action="All" 
                  asp-controller="Listings" 
                  asp-all-route-data="@(Model.queryDict)" 
                  asp-route-currentPage="@(prevPage)" >
                    <span class="bi bi-chevron-left"></span>
                  </a>
                </li>
                @for(var i=1;i<=Model.totalPages;i++){
               
                   <li class="page-item @(Model.currentPage == i?"active":String.Empty)">
                  <a class="page-link" 
                  asp-action="All" 
                  asp-controller="Listings" 
                  asp-all-route-data="@(Model.queryDict)" 
                  asp-route-currentPage="@(i)">@i</a>
                </li>
                }
                <li class="page-item next  @(shouldNextButtonBeDisabled ? "disabled" : String.Empty)">
                  <a class="page-link"  tabindex="-1"  
                  asp-action="All" 
                  asp-controller="Listings" 
                  asp-all-route-data="@(Model.queryDict)" 
                  asp-route-currentPage="@(nextPage)" >
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Property Grid Single-->


