@{
    ViewData["Title"] = "Home Page";
}
@model AllListingsQueryModel
<!DOCTYPE html>
<html lang="en">

  @*  @await Component.InvokeAsync("SearchForm", new AllListingsQueryModel())*@
 

  <!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">
        @if(Model.cauroselItems != null){
        foreach(var listing in Model.cauroselItems)
        {
            <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(@listing.imgUrl)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">@listing.City, @listing.Country
                      <br> @listing.PostCode
                    </p>
                    <h1 class="intro-title mb-4 ">
                      <span class="color-b"></span> @listing.Neighborhood
                      <br> @listing.Street
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a asp-action="Details" asp-controller="Listings" asp-route-id="@listing.Id"><span class="price-a">rent | $ @listing.Price</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


        }
        }

 
    </div>
    <div class="swiper-pagination"></div>
  </div><!-- End Intro Section -->

  <main id="main">

    
    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Latest Properties</h2>
              </div>
              <div class="title-link">
                <a asp-controller="Listings" asp-action="All">All Property
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">

                @if(Model.Listings.Count >= 3){
                    @for(var i=0;i<3;i++)
                    {
                         <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="@Model.Listings[i].Images.FirstOrDefault().Url" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a asp-controller="Listings" asp-action="Details" asp-route-id="@Model.Listings[i].Id">@Model.Listings[i].ListingAddress.Neighborhood
                          <br /> @Model.Listings[i].ListingAddress.Street</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">@Model.Listings[i].PropertyType.Name | $ @Model.Listings[i].Price</span>
                      </div>
                      <a asp-controller="Listings" asp-action="Details" asp-route-id="@Model.Listings[i].Id"  class="link-a" >Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Area</h4>
                          <span>@Model.Listings[i].LandSize m
                            <sup>2</sup>
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Beds</h4>
                          <span>@Model.Listings[i].Bedrooms</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Baths</h4>
                          <span>@Model.Listings[i].Bathrooms</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Garages</h4>
                          <span>@Model.Listings[i].CarSpaces</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->





            }
           }

          
          </div>
        </div>
        <div class="propery-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Latest Properties Section -->



  </main><!-- End #main -->



</>

</html>

















